body {
  min-width: 1200px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 26px;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
}

.background_sedona_2 {
  background-image: url("img/background.png");
  width: 1200px;
  height: 150px;
}

.sorting_ascending {
  background-image: url("icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting_descending {
  background-image: url("icon-down-dir.svg");
  background-repeat: no-repeat;
}


.catalog:nth-child(1) {
  background-image: url("img/star_icon.svg");
}
.catalog:nth-child(2) {
  background-image: url("img/star_icon.svg");
}
.catalog:nth-child(3) {
  background-image: url("img/star_icon.svg");
}
