body {
  min-width: 1200px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 26px;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
}

.fk_contact_logo {
  background-image: url("img/facebook_icon.svg");
  background-repeat: no-repeat;
}
.tr_contact_logo {
  background-image: url("img/twitter_icon.svg");
  background-repeat: no-repeat;
}
.yu_contact_logo {
  background-image: url("img/youtube_icon.svg");
  background-repeat: no-repeat;
}
.yu_contact_logo {
  background-image: url("img/youtube_icon.svg");
  background-repeat: no-repeat;
}
